# Ignore Visual Studio temporary files, build results, and
# user-specific files

.vs/
bin/
obj/

*.user
*.suo
*.cache
*.log
*.vspscc
*.vssscc
*.pdb
*.obj
*.exe
*.dll
*.vcxproj.user
*.ncb
*.sdf
*.dbmdl
*.bak
*.zip
*.vsidx
/CertEmpire/bin/Debug/net8.0/CertEmpire.exe
/CertEmpire/bin/Debug/net8.0/CertEmpire.dll
/CertEmpire/bin/Debug/net8.0/CertEmpire.pdb
/CertEmpire/obj/Debug/net8.0/ref/CertEmpire.dll
/CertEmpire/obj/Debug/net8.0/refint/CertEmpire.dll
/CertEmpire/obj/Debug/net8.0/apphost.exe
/CertEmpire/obj/Debug/net8.0/CertEmpire.AssemblyInfo.cs
/CertEmpire/obj/Debug/net8.0/CertEmpire.AssemblyInfoInputs.cache
/CertEmpire/obj/Debug/net8.0/CertEmpire.csproj.CoreCompileInputs.cache
/CertEmpire/obj/Debug/net8.0/CertEmpire.dll
/CertEmpire/obj/Debug/net8.0/CertEmpire.pdb
/CertEmpire/obj/Debug/net8.0/CertEmpire.sourcelink.json
/CertEmpire/obj/project.nuget.cache
/CertEmpire/obj/Debug/net8.0/EndpointInfo/CertEmpire.json
/CertEmpire/obj/Debug/net8.0/ApiEndpoints.json
/CertEmpire/obj/Debug/net8.0/CertEmpire.assets.cache
/CertEmpire/obj/Debug/net8.0/CertEmpire.csproj.FileListAbsolute.txt
/CertEmpire/obj/project.assets.json
/CertEmpire/bin/Debug/net8.0/CertEmpire.staticwebassets.endpoints.json
/CertEmpire/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/CertEmpire/obj/Debug/net8.0/staticwebassets.build.json
/CertEmpire/obj/Debug/net8.0/staticwebassets.removed.txt
/CertEmpire/obj/Debug/net8.0/EndpointInfo/CertEmpire.OpenApiFiles.cache
/CertEmpire/bin/Debug/net8.0/CertEmpire.deps.json
/CertEmpire/obj/Debug/net8.0/CertEmpire.csproj.AssemblyReference.cache
/CertEmpire/obj/CertEmpire.csproj.nuget.dgspec.json
/CertEmpire/obj/CertEmpire.csproj.nuget.g.targets
*.pubxml
*.jpg
